.services__container {
  background-color: #f3f1f1;
  padding-bottom: 5rem;
}

.service__h2 {
  color: #002d5b;
  /* font-size: 2.2rem; */
  margin-block: 2rem;
  font-weight: 500;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.service__item {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.service__icon {
  /* margin-top: 4rem; */
  font-size: 2.5rem;
  color:#E95A53;
  width: 80px;
  height: 80px;
  background: #f3f1f1;
  border-radius: 50%;
  margin: 2rem auto;
  display: flex;
  align-items:center;
  justify-content: center;
}

.service__para {
  line-height: 30px;
  color: rgb(60, 59, 59);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__button{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
