.button__btn {
    padding: 14px 14px;
    background-color:#E95A53;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
  }

  .button__btn:hover {
    background-color:#d7362d;
  }