.port__buttons {
  display: flex;
  gap: 1rem;
}

.port__details {
  padding-block: 1rem;
}

.port__buttons {
  padding-block: 1rem;
}

.port__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
