.nav__container {
  min-height: 11vh;
  display: flex;
  /* position: fixed;
  width: 100%; */
  background-color: #ebe5e5;
  box-shadow: 0 1px 1px -1px rgb(165, 165, 165);
  z-index: 100;
}

.nav__container1 {
  min-height: 11vh;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #ebe5e5;
  box-shadow: 0 1px 1px -1px rgb(165, 165, 165);
  z-index: 100;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: rgb(60, 59, 59);
  position: relative;
}

.nav__ul ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  color: #002D5B;
}

.nav__icons {
  display: none;
}

.nav__icon {
    font-size: 1.5rem;
}


@media screen and (max-width: 991px) {
  .nav__icons {
    display: block;
  }
  
  .nav__ul {
    position: absolute;
    top: calc(100%) + 5vh;
    top: calc(100%);
    background-color: rgb(120, 119, 119);
    width: 100%;
    text-align: center;
    left: -150%;
    padding-top: 2rem;
    transition: 0.7s ease;
  }

  .nav__ul ul {
    flex-direction: column;
  }

  .nav__ul.active {
    left: 0;
  }
}
